.header {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.header__title {
	margin-top: 20px;
}
.header__subtitle {
	font-size: 24px;
}
.header__photo {
	margin-top: 20px;
	max-width: 300px;
	height: auto;
	object-fit: cover;
}
